.dk-ldscr {
  width: 48px;
  height: 48px;
  border: 5px solid var(--bg-color, #fff);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: dk-rotation 1s linear infinite;
}

@keyframes dk-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
