.dk-ldscr {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--bg-color, #fff);
  position: relative;
}
.dk-ldscr:before,
.dk-ldscr:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: var(--bg-color, #fff);
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.dk-ldscr:after {
  animation-delay: 0.5s
}
@keyframes rotate {
  100% {transform: rotate(360deg) translate(30px)
}
    
