.dk-ldscr {
  width: 48px;
  height: 48px;
  border: 3px dotted var(--bg-color, #fff);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  animation: dk-rotation 2s linear infinite;
}

.dk-ldscr::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  border: 3px dotted var(--bg-color, #fff);
  border-style: solid solid dotted;
  border-radius: 50%;
  animation: dk-rotation-back 1s linear infinite;
  transform-origin: center center;
}

@keyframes dk-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dk-rotation-back {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
