.dk-ldscr {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.dk-ldscr::after,
.dk-ldscr::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--bg-color, #fff);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.dk-ldscr::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
    
