.dk-ldscr, .dk-ldscr:before, .dk-ldscr:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.2s infinite ease-in-out;
}
.dk-ldscr {
  color: var(--bg-color, #fff);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.dk-ldscr:before,
.dk-ldscr:after {
  content: '';
  position: absolute;
  top: 0;
}
.dk-ldscr:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.dk-ldscr:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    
