.dk-ldscr {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: var(--bg-color, #fff);
  box-sizing: border-box;
  animation: animloader_bars 0.3s 0.3s linear infinite alternate;
}

.dk-ldscr::after, .dk-ldscr::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
}
.dk-ldscr::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader_bars {
  0%   { height: 48px} 
  100% { height: 4px}
}
